.main-nav {
  @mixin clearfix;


  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

    @mixin atMedium {
      width: auto;
      float: right;
    }
  }

  li {
    display: inline-block;
    padding: 13px 0;

    @mixin atSmall{
      width:19%;
    }
    
    @mixin atMedium {
      width: auto;
      float: left;
    }
  }

  a {
    padding: 14px;
  }
}